@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
#andrew {
  max-width: 250px;
  width: 100%;
  margin-top: 10em;
}

html {
  background-image: url(../img/pinkbgg.jpg);
}
.all {
  max-width: 100%;
  text-align: center;
  margin: auto;
}
.text {
  font-size: xx-large;
  text-align: center;
  color: white;
}
button{
  padding: 40px;
  background-color: pink;
  color: black;
  cursor: pointer;
}
